<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login Page</title>
</head>
<body class="login">

    <div id="login-container">
        <h2>Login</h2>
        <form action="/login" method="POST" id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
        <%
        if(typeof message !== 'undefined'){
          %> 
              <h4 style="color: red;"> <%= message %> 

              </h4>
          <%
        }
      %>
        <div id="register-link">
            Don't have an account? <a href="/register">Register</a>
        </div>
    </div>

</body>
</html>
