<%- include('../layout/header_shipper.ejs') %>
    <div id="content">
        <h2>Welcome to the Homepage</h2>
        <!-- Konten homepage lainnya akan ditambahkan di sini -->
    </div>
</div>

</body>
</html>
