<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-eSdOVvvlAXm9WghfrO2In7ckn2LZZQon1a11bzCj/v8mXtVEA0C3NR2iWFGgqfN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
       
    <title>Inventory</title>
</head>
<body class="homepage">

    <div id="sidebar">
        <div id="user-info">
            <img id="user-image" src="/image/profil.jpg" alt="User Image">
            <div id="user-details">
                <div id="user-name"><%= user.username %></div>
                <div id="user-email"><%= user.email %></div>
            </div>
        </div>
        <a href="/admin/homepage"><i class="fa-solid fa-house"></i></i>Home</a>
        <a href="/admin/data_user"><i class="fas fa-user"></i>User</a>
        <a href="/admin/product"><i class="fas fa-box"></i>Product</a>
        <a href="/admin/shipment"><i class="fas fa-truck"></i>Shipment</a>
        <a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>

    <div id="content">